body {
    margin: 0px;
    padding: 0px;
}
.header  {
   border-bottom: 2px solid rgb(239,223,224,);
   background-color:rgb(250, 248, 248);
   
}
.page  {
   
}
.footer  {
   
}
.column  {
    
    width: 1000px;
    margin: 0 auto;
}
.page .column {
    height: 100vh;
}
#logo {
    display: flex;
}
#logo-holder {
    flex-grow: 1;
}
#logo-holder img {
    width: 60px;
}
#social-holder {
    flex-grow: 1;
    text-align: right;
}
#main-menu {
    display: flex;
}
#main-menu a {
flex-grow: 1;
text-align: center;
display: block;
padding: 10px 0;
text-decoration: none;
color: black;
transition: 300ms;
}
#main-menu a:hover,
#main-menu a.active {
    background-color: rgb(239,223,224);
    color:whitesmoke ;
}
#social-holder a img {
    width: 24px;
    height: 24px;
    margin: 5px;
}
#social-holder a {
    text-decoration: none;
}

#pocetna {
    text-align: center;
    color: whitesmoke;
    background: url(./slike/proizvodi/zvecke.jpg);
    background-size: contain;
    padding-top: calc(50vh - 250px);
    background-attachment: fixed;
}
#pocetna h1 {
    font-size: 48pt;
    margin-top: 0px;
    padding: 20px;
    border: 1px solid rgb(239,223,224);
    background-color: #22222240  ;

}
.box {
    border: 1px solid rgb(239,223,224);
    background-color: #22222240 ;
    font-size: 24pt;
    padding: 50px;
}
#usluge {
    background: url(./slike/proizvodi/zvecke.jpg);
    background-size: contain;
    background-attachment: fixed;
}
#karijera {
    background: url(./slike/proizvodi/zvecke.jpg);
    background-size: contain;
    background-attachment: fixed;
}
#o-nama {
    background-color:rgb(239,223,224) ; 
}
#proizvodi {
    background-color:rgb(239,223,224) ; 
}
#kontakt {
    background-color:rgb(239,223,224) ; 
}